In [158]:
import pandas as pd

In [159]:
pd.__version__

'0.23.0'

In [160]:
df = pd.read_csv('2016.csv', skiprows =1, encoding='latin1', delimiter=';')

In [161]:
df.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
0,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011328,13/01/2016,Despesa com pagamento de energia elétrica para...,"73,6"
1,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011327,18/01/2016,Pagamento de energia elétrica para o escritóri...,"206,84"
2,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/16,04/01/2016,"Despesa com pagamento de aluguel, utilizado pa...",6000
3,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.423.963/0001-11,OI MÓVEL S.A.,661639001,16/01/2016,despesa com pagamento de telefonia para o escr...,"407,48"
4,2016,1,ACIR GURGACZ,Aquisição de material de consumo para uso no e...,62.652.961/0001-38,AGÊNCIA ESTADO S.A.,00608918,06/01/2016,Aquisição de publicação virtual de conteúdo jo...,550

In [162]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26688 entries, 0 to 26687
Data columns (total 10 columns):
ANO                  26688 non-null int64
MES                  26688 non-null int64
SENADOR              26688 non-null object
TIPO_DESPESA         26688 non-null object
CNPJ_CPF             26688 non-null object
FORNECEDOR           26688 non-null object
DOCUMENTO            24647 non-null object
DATA                 26688 non-null object
DETALHAMENTO         21308 non-null object
VALOR_REEMBOLSADO    26688 non-null object
dtypes: int64(2), object(8)
memory usage: 2.0+ MB

In [148]:
df.describe()
df.shape

(26688, 10)

In [149]:
df.dtypes

ANO                   int64
MES                   int64
SENADOR              object
TIPO_DESPESA         object
CNPJ_CPF             object
FORNECEDOR           object
DOCUMENTO            object
DATA                 object
DETALHAMENTO         object
VALOR_REEMBOLSADO    object
dtype: object

In [163]:
df['VALOR_REEMBOLSADO']=df['VALOR_REEMBOLSADO'].str.replace(',', '.')

In [164]:
df['VALOR_REEMBOLSADO'] = pd.to_numeric(df['VALOR_REEMBOLSADO'])

In [152]:
df['DATA'] = pd.to_datetime(df['DATA'])

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 5017-07-20 00:00:00

In [156]:
df[df['DATA'] == '20/07/5017']

Empty DataFrame
Columns: [ANO, MES, SENADOR, TIPO_DESPESA, CNPJ_CPF, FORNECEDOR, DOCUMENTO, DATA, DETALHAMENTO, VALOR_REEMBOLSADO]
Index: []

In [58]:
df.loc[2191, 'DATA']

'20/07/5017'

In [155]:
df.loc[df['DATA'].str[-4:] == '5017', 'DATA'] = '20/07/2017'

In [69]:
df.loc[df['DATA'].str[-4:] == '3016'] = '04/02/2016'

In [168]:
df.loc[df['DATA'].str[-4:] == '2106', 'DATA'] = '2016'

In [169]:
df.loc[(df['DATA'].str[-4:] != '2016') & (df['DATA'].str[-4:] != '2015') & (df['DATA'].str[-4:] != '2017')]

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
722,2016,8,ALOYSIO NUNES FERREIRA,"Passagens aéreas, aquáticas e terrestres nacio...",58.645.359/0001-04,ALTERNATUR AGÊNCIA DE VIAGEM E TURISMO LTDA,ZE6S2F,09/08/2101,"Companhia Aérea: GOL, Localizador: ZE6S2F. Pas...",1063.72
2172,2016,9,ARMANDO MONTEIRO,"Locomoção, hospedagem, alimentação, combustíve...",02.783.295/0001-45,Salgueiro Plaza Hotel LTDA,18136,16/09/2019,"Hospedagem do Senador Armando Monteiro Neto, M...",180.00
2191,2016,10,ARMANDO MONTEIRO,"Aluguel de imóveis para escritório político, c...",41.054.867/0001-07,Jadan Office Center,1101610021,20/07/5017,"Taxa de condomínio do escritório parlamentar, ...",811.89
8174,2016,9,GLADSON CAMELI,"Locomoção, hospedagem, alimentação, combustíve...",07.639.184/0001-83,Hotel e Restaurente Açai,02392,28/09/2019,NaN,495.00
12421,2016,4,JOSÉ MEDEIROS,"Locomoção, hospedagem, alimentação, combustíve...",12.262.251/0001-23,HOTEL GRAN ODARA LTDA,65509,02/04/3016,despesa com hospedagem,259.90
12583,2016,7,JOSÉ MEDEIROS,"Locomoção, hospedagem, alimentação, combustíve...",09.215.572/0001-62,GELA PUB,000003900,18/07/2019,DESPESA COM ALIMENTAÇÃO DO SENADOR,383.34
12789,2016,9,JOSÉ MEDEIROS,"Passagens aéreas, aquáticas e terrestres nacio...",16.978.175/0001-08,ADRIA VIAGENS,3LNNPN,01/09/2019,"Companhia Aérea: AVIANCA, Localizador: 3LNNPN....",814.27
13601,2016,4,JOSÉ SERRA,"Locomoção, hospedagem, alimentação, combustíve...",52.791.571/0001-95,A Ferreira Automóveis LTDA,541327,04/04/0216,Senador José Serra - Aquisição de combustível ...,158.58
13698,2016,9,KÁTIA ABREU,"Locomoção, hospedagem, alimentação, combustíve...",06.154.675/0001-71,M. A. ALVES COMÉRCIO,003140,23/09/2013,DESPESAS COM HOSPEDAGEM PARA A SENADORA,675.00
13716,2016,10,KÁTIA ABREU,"Locomoção, hospedagem, alimentação, combustíve...",56.548.779/0001-39,Transamérica Comercial e Serviços Ltda SCP La ...,00038600,31/10/0200,"Hospedagem (R$ 648,44) e alimentação (R$ 40,00...",688.44
17925,2016,10,PAULO PAIM,"Locomoção, hospedagem, alimentação, combustíve...",37.063.328/0030-00,Auto Shopping Derivados de Petroleo Ltda,621942,10/10/1977,Aquisição de combustível para veículos utiliza...,152.51
17957,2016,10,PAULO PAIM,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,5HJBB4,31/10/0206,"Companhia Aérea: LATAM, Localizador: 5HJBB4. P...",1860.79
19431,2016,1,REGINA SOUSA,"Locomoção, hospedagem, alimentação, combustíve...",12.051.033/0001-40,Francisco Ferreira de Castro MEE,12053,04/09/2018,Hospedagem de servidor lotado no escritório pa...,100.00
20144,2016,3,RICARDO FRANCO,"Passagens aéreas, aquáticas e terrestres nacio...",16.978.175/0001-08,ADRIA VIAGENS E TURISMO LTDA.,3XMRSO,30/06/2018,"Companhia Aérea: AVIANCA, Localizador: 3XMRSO....",382.03
20671,2016,3,ROBERTO REQUIÃO,"Locomoção, hospedagem, alimentação, combustíve...",02.056.402/0001-33,AUTO POSTO MOCELIN LTDA,72499,19/03/1986,COMBUSTÍVEL PARA AUTOMÓVEL EM ATIVIDADE PARLAM...,139.16
21755,2016,11,ROMERO JUCÁ,"Contratação de consultorias, assessorias, pesq...",62.652.961/0001-38,AGENCIA ESTADO S.A,0632620,03/11/2019,referente a serviço de licença de conteúdo jor...,2805.50
24548,2016,4,WALDEMIR MOKA,"Passagens aéreas, aquáticas e terrestres nacio...",11.285.702/0001-85,JB TURISMO LTDA (TIME TOUR),3K7DJ2,01/04/2014,"Companhia Aérea: AVIANCA, Localizador: 3K7DJ2....",374.83
24549,2016,4,WALDEMIR MOKA,"Passagens aéreas, aquáticas e terrestres nacio...",11.285.702/0001-85,JB TURISMO LTDA (TIME TOUR),3KUSZ7,29/04/2014,"Companhia Aérea: AVIANCA, Localizador: 3KUSZ7....",374.83
24962,2016,5,WALTER PINHEIRO,"Aluguel de imóveis para escritório político, c...",13.927.801/0001-49,PREFEITURA DE SALVADOR (IPTU),567.013-6/05/2016,02/05/2012,PAGAMENTO DE IPTU DO ESCRITÓRIO POLÍTICO DO SE...,162.40
26544,2016,10,ZEZÉ PERRELLA,"Locomoção, hospedagem, alimentação, combustíve...",16.955.896/0005-26,Baru Restaurante Ltda,4926,25/10/2014,NaN,596.09

In [128]:


df[df['DATA'].str[-4:] == '0200'] = '2016'

In [129]:
df['DATA'] = pd.to_datetime(df['DATA'],errors='coerce')
df.dtypes()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26688 entries, 0 to 26687
Data columns (total 10 columns):
ANO                  26688 non-null object
MES                  26688 non-null object
SENADOR              26688 non-null object
TIPO_DESPESA         26688 non-null object
CNPJ_CPF             26688 non-null object
FORNECEDOR           26688 non-null object
DOCUMENTO            24647 non-null object
DATA                 26684 non-null datetime64[ns]
DETALHAMENTO         21308 non-null object
VALOR_REEMBOLSADO    26688 non-null object
dtypes: datetime64[ns](1), object(9)
memory usage: 2.0+ MB

In [135]:
df.dtypes

ANO                          object
MES                          object
SENADOR                      object
TIPO_DESPESA                 object
CNPJ_CPF                     object
FORNECEDOR                   object
DOCUMENTO                    object
DATA                 datetime64[ns]
DETALHAMENTO                 object
VALOR_REEMBOLSADO           float64
dtype: object

In [143]:
df['TIPO_DESPESA'].unique()

array(['Aluguel', 'Despesas Gerais', 'Contratações',
       'Locomoção, hospedagem, alimentação', 'Viagens', 'Segurança', nan],
      dtype=object)

In [140]:
df['TIPO_DESPESA'] = df['TIPO_DESPESA'].map({'Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.': 'Aluguel',
                                             'Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos. ': 'Despesas Gerais', 
                                             'Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar': 'Contratações', 
                                             'Locomoção, hospedagem, alimentação, combustíveis e lubrificantes': 'Locomoção, hospedagem, alimentação', 
                                             'Passagens aéreas, aquáticas e terrestres nacionais': 'Viagens', 
                                             'Divulgação da atividade parlamentar': 'Segurança'})